In [6]:
import numpy as np
import pandas as pd

In [2]:
my_numpy_array = np.random.rand(3)

In [3]:
type(my_numpy_array)

numpy.ndarray

In [4]:
my_numpy_array[0]

0.8011986227781742

In [7]:
my_series = pd.Series(my_numpy_array)

In [8]:
my_series[0]

0.8011986227781742

In [9]:
my_series = pd.Series(my_numpy_array, index = ["First", "Second", "Third"])

In [10]:
my_series["First"]

0.8011986227781742

In [11]:
my_series["Second"]

0.4794165673810751

In [12]:
my_series[1]

0.4794165673810751

In [13]:
my_series

First     0.801199
Second    0.479417
Third     0.568287
dtype: float64

In [14]:
my_series.index

Index(['First', 'Second', 'Third'], dtype='object')

In [15]:
array_2d = np.random.rand(3,2)

In [16]:
array_2d[0,1]

0.024148579735679965

In [17]:
df = pd.DataFrame(array_2d)

In [18]:
df

          0         1
0  0.375813  0.024149
1  0.070956  0.380788
2  0.829439  0.587431

In [19]:
f.columns

NameError: name 'f' is not defined

In [20]:
df.columns

RangeIndex(start=0, stop=2, step=1)

In [21]:
df.columns = ["Col 1", "Col 2"]

In [22]:
df

      Col 1     Col 2
0  0.375813  0.024149
1  0.070956  0.380788
2  0.829439  0.587431

In [23]:
df["Col 2"]

0    0.024149
1    0.380788
2    0.587431
Name: Col 2, dtype: float64

# ======================================